@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative&family=Josefin+Sans:wght@300&family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto:wght@300&family=Tangerine&display=swap');
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
/* import this stylesheet in grid.css*/
/*For Mobile*/
    * {
        font-weight: 300;
    }

    .container {
        margin: 1px auto;
        padding: 0;
    }

    .clock {
        position: fixed;
        top: 20px;
        left: 45%;
        opacity: 0.2;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .logo{
        display: block;
        width: 50%;
        margin: 1px auto;
    }
    
    .stalk {
        text-align: center;
        width: 80%;
        margin: 20px auto 0 auto;
        font-size: 0.6rem;
        letter-spacing: 3px;
    }
    .social{
        width: 10%;
        margin: 0 auto;
    }

    .subheading {
        width: 90%;
        margin: 0;
        padding:0 0 4px 0;
        line-height: 130%;
        font-size: 1rem;
    }
    
    .mainheading {
        padding: 8px 2px;
        margin: 0;
        line-height: 200%;
        font-size: 1.5rem;
    }
    
    .email {
        height: 20px;
    }
    
    button {
        width: 40%;
        padding: 0;
        font-size: 0.3rem;
    }

    input {
        padding: 0;
        width: 50%;
    }
    
    .paragraph {
        text-align:center;       
        padding: 1px 2px;
        width: 100%;
    }

    .paragraph p {
        text-align: left;
        font-size: 0.6rem;
        line-height: 90%;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        padding: 20px;
    }

    .left {
        position: absolute;
        border-top: 1px solid white;
        width: 50%;
        top: 230px;
        margin: 10px;
        order:2;
        padding: 10px 0;
    }
    
}
/*For Tablet*/
@media only screen and (max-width: 768px)and (min-width: 500px) {
    * {
        font-weight: 300;
    }

    .container {
        width: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        align-content: center;
    }
    .clock{
        position: absolute;
        top: 15vw;
        left: 43vw;
    }
    
    .left {
        display: flex;
        flex-direction: column;
        margin: 1vw 2vw;;
        order:2;
        width: 100%;
        padding: 2%;
        border-top: 2px solid white;
    }
    .logo{
        margin: 0;
        width: 100%;
    }

    .stalk {
        text-align: center;
        width: 100%;
        margin: 8% auto 4% auto;
    }
    .social{
        width: 80%;
        padding: 0;
        margin: 0 auto 2% auto;
    }

    .subheading {
        padding: 95px 90px;
        margin: 2px;
        line-height: 2px;
    }

    
    .mainheading {
        text-align: left;
        margin: 2px 93px;
        line-height: 2px;
    }
    
    
    button {
        width: 10%;
        font-size: 0.7rem;
    }
    
    .paragraph {
        text-align:left;       
        padding: 30px 93px;
        width: 200%;
    }

    .email{
        margin-left: 0;
    }

    input {
        width: 12%;
    }

    .paragraph p {
        width: 30%;
        font-size: 1.6rem;
        line-height: 110%;
    }

    .content {
        margin: 0 auto;
        width: 100%;
        color: white;
    }
}

@media only screen and (max-width: 660px)and (min-width: 501px) {
    .clock {
        top: 110px;
        left: 50vw;
    }
    .mainheading {
        font-size: 7.5vw;
    }
}